<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.openeg.openegscts.board.repository.IBoardMapper">

    <select id="getBoardList" resultType="com.openeg.openegscts.board.entity.Board">
        select board_id as boardId,
               board_name as boardName,
               use_yn as useYn,
               board_reg_date as boardRegDate
        from board_tb
        order by board_reg_date desc, board_id desc 
    </select>

    <select id="getBoard" resultType="com.openeg.openegscts.board.entity.Board" parameterType="long">
       select board_id as boardId,
               board_name as boardName,
               use_yn as useYn,
               board_reg_date as boardRegDate
        from board_tb
        where board_id = #{boardId}
    </select>

    <insert id="insertBoard" useGeneratedKeys="true" keyProperty="boardId" keyColumn="board_id" parameterType="com.openeg.openegscts.board.entity.Board">
        insert into board_tb(
            <!-- board_id, -->
            board_name,
            use_yn,
            board_reg_date )
        values(
            <!-- #{boardId},  -->
            #{boardName}, 
            #{useYn}, 
            DATE_FORMAT(SYSDATE(), '%Y/%m/%d %H:%i:%s') )
    </insert>

    <update id="updateBoard" parameterType="com.openeg.openegscts.board.entity.Board">
        update board_tb set 
            board_name = #{boardName},
            use_yn = #{useYn},
            board_reg_date = DATE_FORMAT(SYSDATE(), '%Y/%m/%d %H:%i:%s')
        where board_id = #{boardId}
    </update>

    <update id="updateBoardUseYn" parameterType="long">
        update board_tb set 
            use_yn = (select if(use_yn = 'Y', 'N', 'Y') as use_yn)
        where board_id = #{boardId}
    </update>

    <delete id="deleteBoard" parameterType="long">
        delete from board_tb where board_id=#{boardId}
    </delete>
</mapper>